/*
 *  Common Elements
 */

body {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Arial, Sans-Serif;
}

input {
	font-size: 14px;
	width: 230px;
}

button {
	margin: 10px;
	padding: 10px 35px;
	vertical-align: middle;
	cursor: pointer;

	border: 0px;
	border-radius: 4px;
	background-clip: padding-box;
	background: #65a9d7;
	
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}
button:hover {
	background: #28597a;
	color: #ccc;
}

button.small {
	margin: 5px 15px;
	padding: 5px 15px;
	font-size: 12px;
}

/*
 *  Common selectors
 */

#container {
	margin: 200px auto;
	width: 960px;
	display: block;
	background-color: white;
}

.errorContainer {
	text-align: center;
	
	width: 450px;
	margin: 10px;
	
	background-color: #ffd56f;
}
.error {
	display: block;
	font-size: 12px;
	color: red;
}

.textinput {
	margin: 20px 10px 10px 10px;
	width: 350px;
	text-align: left;
}
.label {
	font-size: 18px;
	width: 100px;
}
.textinput input {
	float: right;
}

/*
 * Login Page
 */
 
#login {
	width: 350px;
	margin-top: 25px;
}

/*
 * Menu
 */
#menu{
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 5px auto auto 5px;
	height: 50px;
	z-index: 9;
	background-color: white;
}
div.menuitem{
	float: left;
	margin: 0px;
	padding: 10px 25px;

	border: 0px;
	border-radius: 4px;

	color: black;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}
div.menuitem:hover {
	background-color: yellowgreen;
}

div.menuitem ul{
	list-style-type: none;
	display: inline;
	margin: 0px;
}
div.menuitem ul li{
}
div.menuitem ul li a{
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	line-height: 25px;
	color: blue;
}
div.menuitem ul li a:visited{
	color: blue;
}




/*
 * Activity
 */

table {
	border-spacing: 0px;
	border-collapse:collapse;
	width: 960px;
	table-layout: fixed;
}
thead,
thead > tr:hover {
	background-color: #222;
	padding: 20px 15px;
	
	color: white;
	font-size: 13px;
}
thead > tr > td {
	padding: 10px 5px;
}
tbody {
	padding: 2px 1px;
	
	font-size: 12px;
}
tbody > tr > td {
	overflow: hidden;
}
tr:hover,
tr.selected {
	background-color: lightblue;
}
td {
	padding: 3px 5px;
	margin: 0px;
}

.submit{
	width: 500px;
	height: 100px;
	margin: 25px 0px;
}
.submit button {
	float: right;
}


/*
 * Lightbox
 */

#properties-container {
	display: none;
	
	position: absolute;
	top: 0px;
	left: 0px;
	width:  100%;
	z-index: 2;
	
	background-color: lightgrey;
	opacity: 1;
}
#properties-container > #container {
	padding: 50px 75px;
}





